doctype html
html(lang="en")
	head
		script.
			var result = !{JSON.stringify(result).replace(/<\//g, '<\\/')};
			var message = !{JSON.stringify(message).replace(/<\//g, '<\\/')};
			var data = !{JSON.stringify(data).replace(/<\//g, '<\\/')};
	body