doctype html
html(lang="en")
	head
		script(src="/socket.io/socket.io.js")
		link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
		style.
			body {
				background: #333;
			}
			a {
				color: #ddd;
				font-size: .8em;
				line-height: 20px;
				padding: 3px 10px;
				border-radius: 10px;
				background: #35a;
				text-decoration: none;
			}
			a > i {
				margin-right: 5px;
			}
	body
		a(href="/auth/facebook" traget="login_frame")
			i.fa.fa-2x.fa-facebook-square
			|  Login